[user]
	name = Kyle Welsby
	email = kyle@mekyle.com
[core]
	editor = code --wait
[commit]
	gpgSign = true
[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
	df = diff
	pf = push --force-with-lease
	lg = log -p
	who = shortlog -s --
	track = !sh -c 'git branch --track "$1" "$0/$1" && git checkout "$1"' # git track origin branch <-- remotes/origin/branch
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
[push]
 	default = current
[pull]
	ff = only
[fetch]
 	prune = true
[color]
	ui = auto
[gpg]
	program = /usr/local/bin/gpg
